//fonts
@import url('https://fonts.googleapis.com/css?family=Overpass:100,200,300,400,600,900');
//libs
@import "../../node_modules/normalize-scss/sass/normalize";

@import "variables";

//views
@import "../views/main";

@import "../modules/checkbox/styles/main";

* { font-family: 'Overpass', sans-serif; margin: 0 ; padding: 0 ; border: 0 ; }
a { text-decoration: none; color: #000000; }


.grey-icon{
  filter: grayscale(100%);
}

.view {
  background-color: $white;

}